:root {
    --color-bg-d: #1b317b;
    --color-bg-l: #3865db;
    --color-btn-blue: #102cb8;
    --color-btn-yellow: #e6ea68;
    --color-text: #fff;
    --color-text-d: #192A56;
    --color-accent-pink: #FF007B;
    --color-sub: #5C7DD5;
    --color-sub-l: #C1D2FF;
    --fz: 24px;
    --lh: 1.3em;
    --fz-btn: 18px;
    --fz-small: 20px;
    --fz-big: 30px;
    --fz-h1: 40px;
    --fz-h2: 48px;
    --fz-h3: 40px;
}

body {
    background: var(--color-bg-d);
    color: var(--color-text);
    font-family: "TikTok Sans", sans-serif;
    font-size: var(--fz);
    line-height: var(--lh);
}

h1,
h2,
h3 {
    margin: 0;
    line-height: var(--lh);
}

h1 {
    font-size: var(--fz-h1);
    font-weight: 400;
    text-transform: uppercase;
}

h2 {
    font-size: var(--fz-h2);
    margin-bottom: 24px;
}

h3 {
    font-size: var(--fz-h3);
}

a,
a:hover {
    color: inherit;
    text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.btn {
    background: var(--color-btn-yellow);
    color: var(--color-text-d);
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 45px;
    padding: 0 30px;
    font-weight: 700;
    font-size: var(--fz-btn);
    transition: 0.5s ease;
    border: 2px solid var(--color-btn-yellow);
}

* {
    box-sizing: border-box;
}

.btn:hover {
    background: transparent;
    color: var(--color-btn-yellow);
}

.btn:active {
    background: transparent;
    color: var(--color-btn-yellow);
}

.highlight {
    color: var(--color-btn-yellow);
}

.bigger {
    font-size: var(--fz-big);
}

.stronger {
    font-weight: 600;
}

@media (max-width:767px) {
    :root {
        --fz-h1: 26px;
        --fz-h2: 40px;
        --fz-h3: 30px;
        --fz: 20px;
        --fz-big: 24px;
        --fz-small: 16px;
    }
}

/* Header */
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    padding-top: 64px;
}

header .container {
    max-width: 1232px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}

header .logo {
    width: 28%;
    max-width: 334px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

header .logo span {
    color: var(--color-btn-yellow);
    font-size: var(--fz-h1);
    font-weight: 700;
    line-height: 1.4em;
}

.hamburger {
    cursor: pointer;
    position: relative;
    width: 44px;
    height: 44px;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.hamburger .line {
    display: block;
    position: absolute;
    left: 9px;
    width: 26px;
    height: 3px;
    background-color: #fff;

    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.hamburger .line:nth-child(1) {
    top: 11px;
}

.hamburger .line:nth-child(2) {
    top: 20px;
}

.hamburger .line:nth-child(3) {
    top: 29px;
}

.hamburger.active .line:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 12px;
}

.hamburger.active .line:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.hamburger.active .line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 31px;
}

.nav-links {
    display: none;

    position: fixed;
    top: 104px;
    left: 0;
    right: 0;
    background: var(--color-btn-blue);
    z-index: 999;
    padding: 0 30px 30px;
}

.expanded {
    display: unset;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;

    flex-direction: column;
    font-size: var(--fz-btn);
    line-height: inherit;
    font-weight: 700;
}

.menu__item {
    display: block;
    width: 100%;
    height: 44px;
}

.menu__item-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    border: 1px solid #fff;
    border-radius: 6px;
    text-transform: uppercase;
    white-space: nowrap;
}

.menu__item-link:hover,
.menu__item-link:active,
.menu__item-link.active {
    border: 1px solid #313131;
    border-radius: 6px;
    background: #ffc513;
    color: #000;
    font-weight: 700;
}

#header.menu-open {
    background: var(--color-btn-blue);
}



@media (min-width: 991px) {
    .hamburger {
        display: none;
    }

    .nav-links {
        display: flex;
        align-items: center;
        gap: 40px;

        position: static;
        background: transparent;

        padding: 0;
    }

    .menu {
        gap: 24px;
        flex-direction: row;
    }

    .menu__item,
    .menu__item-link {
        display: inline;
        width: auto;
        height: unset;
        border: none;
    }

    .menu__item-link:hover,
    .menu__item-link:active,
    .menu__item-link.active {
        border: none;
        border-radius: 0;
        background: transparent;
        color: #FFD600;
        font-weight: 400;
    }
}

@media ((min-width: 991px) and (max-width: 1104px)) {
    .menu__item-link {
        font-size: 14px;
    }
    .nav-links {
        gap: 20px;
    }
}

@media (max-width: 990px) {
    header {
        position: fixed;
        padding: 0;
    }
    #header {
        padding: 20px 0;
        background: var(--color-bg-d);
    }
    header .logo {
        width: 200px;
    }
    header .logo span {
        font-size: 20px;
    }
    .menu {
        margin-bottom: 20px;
    }
    .nav-links .btn {
        width: 100%;
    }
    header .container {
        padding: 0 30px;
    }
}


/* Hero */
.hero {
    background-color: var(--color-bg-d);
}

.hero-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 960px;
}

.hero__image {
    position: relative;
}

.image-wrapper {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hero__content {
    max-width: 632px;
    padding: 0 16px;
}

.hero h1 img {
    max-height: 47.85px;
    float: left;
}

.image-wrapper img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.hero-top .image-wrapper:after {
    content: '';
    height: 100%;
    width: 10.36111vw;
    background-image: url(/images/triangle.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: scale(-1, 1);
    display: block;
    top: 0;
    left: -2px;
    position: absolute;
}

.hero-bottom .image-wrapper:after {
    content: '';
    height: 100%;
    width: 10.36111vw;
    background-image: url(/images/triangle.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: scale(1, -1);
    display: block;
    top: 0;
    right: -2px;
    position: absolute;
}

.hero-top {
    position: relative;
}

.hero-top .hero__content {
    padding-top: 340px;
    padding-bottom: 120px;
    margin-left: auto;

    margin-right: -16px;
}

.hero-bottom .hero__content {
    margin-right: auto;
    padding: 150px 16px 120px;
    text-align: right;

    margin-left: -16px;
}

.hero-bottom {
    position: relative;
}

.hero-bottom:after {
    content: '';
    width: 140px;
    height: 173px;
    display: block;
    background-image: url(/images/kharkiv-badge.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: -47px;
    left: calc(50% + 150px);
    z-index: 3;
}

.hero-dates {
    position: absolute;
    width: 438px;
    height: 462px;
    background-image: url(/images/ellipses.png);
    background-size: contain;
    display: block;
    bottom: 0;
    left: 50%;
    transform: translate(-25%, 20%);
    z-index: 1;
}

.hero-dates .content {
    width: 360px;
    height: 363px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    color: var(--color-text-d);
}

.hero-dates .date {
    font-size: var(--fz-h1);
    line-height: 1.2em;
    max-width: 150px;
    font-weight: 700;
}

.hero-dates .place {}

.logo-link {
    font-size: 0;
    line-height: 0;
    max-width: 157px;
    display: block;
}

.logo-link img {
    max-width: 100%;
}

.hero .buttons-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 990px) {
    .hero-top {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .hero-top .image-wrapper {
        position: relative;
    }

    .hero-top .hero__image {
        order: 3;
    }

    .hero-top .image-wrapper:after {
        content: none;
    }

    .hero-top .hero__content {
        max-width: 100%;
        margin: 0;
        order: 1;
        padding: 140px 20px 0;
        position: relative;
        z-index: 2;
        text-align: center;
    }

    .hero-top .hero-dates {
        order: 2;
        position: relative;
        display: block;
        bottom: unset;
        left: unset;
        transform: translate(calc(50vw - 50%), 0);
        z-index: 1;
        margin-bottom: -230px;
        margin-top: -40px;
        background-size: cover;
        width: 462px;
    }

    .hero-top .hero-dates .date {
        font-size: var(--fz-h2);
    }

    .hero .buttons-wrapper {
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero h1 img {
        float: none;
        display: block;
        margin: auto;
        max-width: 315px;
    }

    .hero-bottom {
        display: block;
    }

    .hero-bottom .hero__image {
        display: none;
    }

    .hero-bottom .hero__content {
        text-align: center;
        margin: 0;
        padding: 100px 20px 60px;
        max-width: 100%;
    }

    .hero-bottom:after {
        content: '';
        width: 140px;
        height: 173px;
        display: block;
        background-image: url(/images/kharkiv-badge.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: absolute;
        top: -86px;
        left: calc(50% - 70px);
        z-index: 3;
    }

    .hero-row {
        min-height: unset;
    }

}

/* speakers */
.speakers {
    background-color: var(--color-bg-l);
    padding: 80px 0;
}

.speakers__header {
    text-align: center;
}

.speakers .container {
    max-width: 916px;
    margin: 0 auto;
    padding: 0 16px;
}

.speakers__subtitle {
    max-width: 800px;
    margin: 0 auto 16px;
}

.speaker-card {
    background: var(--color-btn-blue);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.speaker-card__image-wrap img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.speaker-card__content {
    padding: 0 30px 30px 40px;
}

.speaker-card__name {
    font-size: var(--fz-h3);
    letter-spacing: -1.2px;
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-top: -2em;
}

.speaker-card__position {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: flex-start;
    gap: 14px;
    font-size: var(--fz-btn);
    letter-spacing: -0.54px;
    color: var(--color-sub-l);
    font-weight: 500;
    line-height: var(--lh);
}

.speaker-card__dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-btn-yellow);
    margin-top: 6px;
}

.speakers-columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    padding-top: 50px;
    position: relative;
}

.speakers-columns:before {
    content: '';
    position: absolute;
    width: 30%;
    aspect-ratio: 1/1.2;
    background-image: url(/images/ellipse.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
}

.speakers-columns .col-1,
.speakers-columns .col-2 {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
    z-index: 1;
}

.speakers-columns .col-2 {
    padding-top: 50px;
}

@media (max-width: 767px) {
    .speakers .container {
        padding: 0 20px;
    }

    .speakers-columns {
        grid-template-columns: 1fr;
        padding-top: 0;
        margin-top: 40px;
        gap: 20px;
    }

    .speakers-columns .col-1,
    .speakers-columns .col-2 {
        gap: 20px;
    }

    .speakers-columns .col-2 {
        padding-top: 0;
    }

    .speakers-columns:before {
        width: 375px;
        top: -100px;
    }

    .speakers__header {
        position: relative;
        z-index: 1;
    }

    .speaker-card__position {
        display: block;
        text-align: center;
        margin-bottom: 0;
    }

    .speaker-card__dot {
        display: none;
    }

    .speaker-card__name {
        text-align: center;
        font-size: var(--fz-h2);
    }
}

/* Program */
.program {
    padding: 80px 0;
    position: relative;
}

.program__title {
    text-align: center;
    margin-bottom: 60px;
}

.program .container {
    max-width: 1072px;
    width: 100%;
    margin: 0 auto;
    padding: 0 16px;
}

.program__columns {
    display: grid;
    grid-template-columns: 1.272727fr 1fr;
    gap: 80px;
}

.program-day+.program-day {
    margin-top: 60px;
}

.program-day__header {
    position: relative;
}

.program-day__date {
    font-weight: 700;
    color: var(--color-btn-yellow);
    line-height: 1.4em;
    margin: 0 0 18px;
}

.program-day__tag {
    line-height: 1.2em;
    margin-bottom: 30px;
}

.program-day__subtitle {
    font-weight: 600;
    color: var(--color-btn-yellow);
    line-height: 1em;
    position: absolute;
    top: 30px;
    left: 270px;
    margin: 0;
    max-width: 108px;
}

.program-day__speakers,
.talk__speakers {
    font-size: var(--fz-small);
    font-weight: 600;
    line-height: 1.4em;
    color: var(--color-sub-l);
    display: flex;
    align-items: baseline;
    gap: 16px;
    flex-wrap: wrap;
}

.talk+.talk {
    margin-top: 30px;
}

.talk__description {
    font-size: var(--fz-small);
}

.talk:has(.talk__title) .talk__description {
    font-size: var(--fz);
}

.talk__note {
    color: var(--color-btn-yellow);
    font-size: var(--fz-small);
    margin-bottom: 16px;
}

.talk__schedule {
    font-size: var(--fz-small);
}

.talk__time {
    color: var(--color-btn-yellow);
    margin-bottom: 8px;
    font-weight: 600;
}

.talk__event {
    margin: 0 0 28px;
    font-weight: 500;
}

.talk__event:last-child {
    margin-bottom: 40px;
}

.program__col--right {
    padding-bottom: 400px;
}

.program .hero-dates {
    left: calc(50% + 60px);
    transform: translate(0, 20%);
}

@media (max-width: 1080px) {
    .program .hero-dates {
        left: unset;
        right: 0;
        transform: translate(0, 20%);
    }
}

@media (max-width: 767px) {
    .program__columns {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .program-day__subtitle {
        position: static;
        max-width: unset;
        margin-bottom: 8px;
    }

    .program-day__date {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        margin-bottom: 32px;
    }

    .program-day__date:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background: var(--color-btn-yellow);
        border-radius: 20px;
    }

    .program-day__speakers,
    .talk__speakers {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    .program__col--right {
        padding-bottom: 90px;
    }

    .program .hero-dates {
        left: unset;
        right: unset;
        transform: translate(calc(50vw - 50%), 50%);

        width: 462px;
        background-size: cover;
    }

    .program .hero-dates .date {
        font-size: var(--fz-h2);
    }

    .wrapper {
        overflow: hidden;
    }

    .program .container {
        position: relative;
        z-index: 2;
        padding: 0 20px;
    }
}

/* Pricing */
.pricing {
    padding: 80px 0 110px;
    background-image: url(/images/ellipse2.png);
    background-color: var(--color-bg-l);
    background-repeat: no-repeat;
    background-size: 220px auto;
    background-position: center bottom -130px;
}

.pricing .container {
    max-width: 995px;
    margin: 0 auto;
    padding: 0 16px;
}

.pricing__header {
    text-align: center;
    margin-bottom: 60px;
}

.pricing__subtitle {
    max-width: 800px;
    margin: 0 auto;
}

.pricing__grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
    justify-items: center;
    margin-bottom: 70px;
}

.price-card--main {
    grid-column: 1 / -1;
    max-width: calc(50% - 20px);
    width: 100%;
}

.price-card {
    background-color: var(--color-btn-blue);
    border-radius: 24px;
    padding: 32px 30px 45px;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
}

.price-card__date {
    font-weight: 700;
    margin-bottom: 36px;
    color: var(--color-btn-yellow);
    letter-spacing: -0.72px;
    margin-top: 0;
}

.price-card__tag {
    font-size: var(--fz-small);
    color: var(--color-sub);
    font-weight: 700;
    letter-spacing: -0.6px;
    margin: 0 auto 30px;
}

.price-card__title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: -0.9px;
}

.price-card__price {
    width: 100%;
    height: 66px;
    font-size: var(--fz);
    position: relative;
}
.price-card__price .full {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.price-card--yellow,
.price-card--yellow-with-tag {
    background-color: var(--color-btn-yellow);
    color: var(--color-text-d);
    position: relative;
}

.price-card--yellow .price-card__tag,
.price-card--yellow-with-tag .price-card__tag {
    color: var(--color-text-d);
    opacity: 0.5;
    max-width: 300px;
    margin: 0 auto 30px;
}

.price-card--yellow .price-card__date,
.price-card--yellow-with-tag .price-card__date {
    color: var(--color-text-d);
}

.price-card--yellow .price-card__price,
.price-card--yellow-with-tag .price-card__price {
    background-color: var(--color-btn-blue);
    color: var(--color-btn-yellow);
}

.price-card__badge {
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 5px;
    overflow: hidden;

    background-color: var(--color-accent-pink);
    color: var(--color-btn-yellow);
    font-size: var(--fz-btn);
    padding: 16px 30px;
    text-transform: uppercase;
    line-height: 1.2em;
    font-weight: 700;

    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    margin: 0 auto;
    width: min(75%, 284px);
}

.price-card__badge-value {
    font-size: var(--fz);
}

.pricing__footer {
    text-align: center;
    max-width: 630px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .pricing__grid {
        grid-template-columns: 1fr;
    }

    .price-card--main {
        max-width: 100%;
    }

    .pricing {
        padding-top: 240px;
    }

    .pricing .container {
        padding: 0 20px;
    }

    .price-card {
        padding: 20px;
        border-radius: 20px;
    }

    .price-card__date {
        margin-bottom: 30px;
    }

    .price-card--yellow .price-card__tag,
    .price-card--yellow-with-tag .price-card__tag,
    .price-card__tag {
        margin-bottom: 8px;
    }

    .price-card__title {
        margin-bottom: 30px;
    }

    .price-card__price {
        height: 45px;
    }

    .price-card__badge {
        padding: 14px 16px;
        bottom: -40px;
    }

    .price-card.price-card--yellow-with-tag {
        margin-bottom: 40px;
    }

    .pricing h2 {
        font-size: var(--fz-h3);
    }

    .pricing__footer {
        max-width: 268px;
        margin: auto;
    }

    .pricing__grid {
        margin-bottom: 30px;
        gap: 20px;
    }

    .pricing__header {
        margin-bottom: 20px;
    }
}

/* footer */

footer {
    text-align: center;
    padding: 80px 0;
}

footer .container {
    max-width: 756px;
    padding: 0 16px;
    margin: 0 auto;
}

.location__title,
.location__head {
    margin-bottom: 60px;
}

.location__item {
    display: grid;
    grid-template-columns: 60px 1fr;
    gap: 24px;
    align-items: center;
    text-align: left;
}

.location__item-text {
    margin: 0;
    font-weight: 500;
}

.location__item-icon {
    margin: 0 auto;
    max-width: 60px;
}

.location__item+.location__item {
    margin-top: 24px;
}

.location__info {
    margin-bottom: 60px;
}

.location__contacts a {
    color: var(--color-btn-yellow);
}

.location__contacts a:hover {
    text-decoration: underline;
}

.logo .mobile {
    display: none;
}

@media (max-width: 767px) {
    .location__head .logo {
        max-width: 275px;
        display: block;
        margin: 0 auto 30px;
    }

    .location__head .logo img {
        max-width: 100%;
    }

    .location__item {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .location__item-text {
        text-align: center;
        font-size: var(--fz-btn);
        font-weight: 400;
    }

    .location__title {
        font-size: var(--fz-h3);
        max-width: 220px;
        margin: 0 auto 30px;
    }

    .location__head {
        margin-bottom: 30px;
    }

    footer .container {
        padding: 0 37px;
    }

    .logo .mobile {
        display: block;
    }

    .logo .desktop {
        display: none;
    }
}