---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Speakers from "../components/Speakers.astro";
import Program from "../components/Program.astro";
import Pricing from "../components/Pricing.astro";
---

<Layout>
<div class="wrapper">
	<Hero />
	<Speakers />
	<Program />
	<Pricing />
</div>
</Layout>
