<ul class="menu">
    <li class="menu__item"><a href="#event" class="menu__item-link">Про подію</a></li>
    <li class="menu__item"><a href="#speakers" class="menu__item-link">Спікери</a></li>
    <li class="menu__item"><a href="#location" class="menu__item-link">Локація</a></li>
    <li class="menu__item"><a href="#program" class="menu__item-link">Програма</a></li>
</ul>